#modal-1(aria-hidden="true")
  div(tabindex="-1", data-micromodal-close)
    div(role="dialog", aria-modal="true", aria-labelledby="modal-1-title")
      header
        h2#modal-1-title WINNER WINNER, CHICKEN DINNER
        button(aria-label="Close modal", data-micromodal-close)
      #modal-1-content Modal Content