link(rel='stylesheet' href='/styles/nav.css')
script(src="/js/nav.js", defer)
nav
  #leftDiv.nav-left
    ul
      li 
        a(href="/register" onclick='reset()') Reset
  #rightDiv.nav-right     
    ul
      li
        a(href="/register") Register
      li
        a(href="/") Game