link(rel='stylesheet' href='/styles/nav.css')
nav
  #leftDiv.nav-left
    ul
      li 
        a(href="/") Reset
  #rightDiv.nav-right     
    ul
      li
        a(href="/register") Register
      li
        a(href="/") Game