link(rel='stylesheet' href='/styles/nav.css')
nav
  div#nav-left
    ul
      li 
        a(href="/") Reset
  div#nav-right
    ul
      li
        a(href="/register") Register
      li
        a(href="/") Game