doctype html
html(lang="en")
    head
        title Register for Yatzy
        script(src="js/register.js", defer)
        link(rel='stylesheet', type="text/css" href='/styles/register.css')
    body 
        #makeSide.col
            h2 Register user
            input(id="inputUser" list="users")
            datalist(id="users") Users
            button(id="addButton") Add
            h3(id="warning") User already chosen for game
        #chosenSide.col 
            h2 Selected users
            table(id="selectedUsers")
            button(id="startButton") Start game