body {
    display: grid;
    grid-template-columns: 50% 50%;
}

.col{
    text-align: center;
}

#selectedUsers{
    border-style: solid;
    border-color: black;
    border-width: 1px;
    margin: 10px auto;
    min-height: 20px;
    width: 200px;
}

#warning{
    display: none;
}