.container {
    display: grid;
    grid-template-columns: repeat(2);
}

.col-left {
    text-align: center;
    grid-column: 1;
}

.col-right {
    text-align: center;
    grid-column: 2;
}

#selectedUsers{
    border-style: solid;
    border-color: black;
    border-width: 1px;
    margin: 10px auto;
}

#selectedUsers td{
    width: 100px;
}